* {
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
}
.container{
  width: 550px;
  height: 870px;
  background-color:#23252C;
  ;
}
.profilePic {
  width: 50%;
  margin: auto;
}
